body {
  background-color: #358c5b;
  color: #c8c8c8;
  font-family: "Cabin", sans-serif;
  font-size: 1rem;
  font-weight: 400;
}
header,
footer {
  background-color: #141514;
  padding: 10px;
  text-align: center;
}
h1 {
  padding: 10px;
}
h2 {
  background-color: #104502;
  color: white;
  text-decoration: underline;
  text-align: center;
  padding: 3px;
  font-weight: 600;
}
section {
  border-style: dotted;
  border-color: black;
  border-width: 2px;
  text-align: justify;
  width: 90%;
  margin: 10px auto;
  padding: 5px;
  box-sizing: content-box;
}
.main-container {
  width: 90%;
  margin: 3rem auto;
  border-style: dashed;
  border-width: 2px;
  border-color: black;
  display: flex;
  flex-direction: column;
}
ol {
  list-style-type: decimal;
  padding: 2rem;
}

/* li::before {
  content: "";
  width: 1rem;
  height: 1rem;
  background: url("../img/me.gif");
} */
/* .list-text > li::before {
  height: 1rem;
  width: 1rem;
  content: "AA";
  /*url("../img/me.gif");
} */

@media (min-width: 700px) {
  .main-container {
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  section {
    width: 40%;
    margin: 10px auto;
  }
  footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
  }
}
