body {
  background-color: #1f8505;
  color: #fcfbfa;
  font-family: "Cabin", sans-serif;
  font-size: 1rem;
  font-weight: 400;
}
header,
footer {
  background-color: #141514;
  padding: 10px;
  text-align: center;
}
section {
  /* border-style: dotted;
  border-color: black;
  border-width: 2px; */
  background-color: #79b669;
  text-align: justify;
  width: 90%;
  margin: 10px auto;
  padding: 5px;
  box-sizing: content-box;
  box-shadow: 0 3px 2px 0 rgba(0, 0, 0, 0.14),
    0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.25s;
}
section:hover {
  box-shadow: 6px 7px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.main-container {
  width: 90%;
  margin: 3rem auto;
  /* border-style: dashed;
  border-width: 2px;
  border-color: black; */
  display: flex;
  flex-direction: column;
}

h1 {
  padding: 10px;
}
h2 {
  background-color: #104502;
  color: white;
  text-decoration: underline;
  text-align: center;
  padding: 3px;
  font-weight: 600;
}
button {
  padding: 10px;
}

ol {
  list-style-type: decimal;
  padding: 2rem;
}
li {
  padding-bottom: 0.4rem;
}
ul {
  padding: 2rem;
}
.icons-list {
  height: 1rem;
  width: 1rem;
}
@media (min-width: 700px) {
  .main-container {
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  section {
    width: 40%;
    margin: 10px auto;
  }
  footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
  }
}
